[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

Makefile

out/

*.pyc
.ycm_extra_conf.py

*.bmp

*.user

tests/results
tests/reference

# Tex
*.aux
*.log
*.nav
*.out
*.snm
*.pdf
*.toc
*.bbl
*.blg
*.brf

# Benchmark tool
pray_benchmark-*.json
